body {
  background-color: #3a3b3d;
  color: #ffffff;
  font-family: 'Comic Sans MS', cursive;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#question-num-text {
  font-size: 18px;
  margin-bottom: 20px;
}

#question-box {
  background-color: #2c2d2e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#question-text {
  font-size: 24px;
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.button {
  flex: 1;
  padding: 15px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#agree-btn,
#strongly-agree-btn,
#ambivalent-btn,
#disagree-btn,
#strongly-disagree-btn {
  font-family: 'Comic Sans MS', cursive;
}

#agree-btn {
  background-color: #4caf50;
  color: #ffffff;
}

#strongly-agree-btn {
  background-color: #388e3c;
  color: #ffffff;
}

#ambivalent-btn {
  background-color: #bdbdbd;
  color: #333333;
}

#disagree-btn {
  background-color: #d32f2f;
  color: #ffffff;
}

#strongly-disagree-btn {
  background-color: #c62828;
  color: #ffffff;
}

.button:hover {
  background-color: darken(#4caf50, 10%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.button:active {
  background-color: darken(#4caf50, 20%);
  transform: translateY(0);
}
